<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bell.calorieda">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calorieda">
        <activity
            android:name=".ui.mealCheck.MealCheckActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".ui.detailNutrient.NutrientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nutrient.NutrientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calculate.CalculateActivity"
            android:exported="false"
            android:label="@string/title_calculate_calories" />
        <activity
            android:name=".ui.drinkSchedule.DrinkScheduleActivity"
            android:exported="false"
            android:label="@string/title_drink_schedule"
            android:parentActivityName=".ui.setting.SettingsActivity" />
        <activity
            android:name=".ui.mealSchedule.MealScheduleActivity"
            android:exported="false"
            android:label="@string/title_meal_schedule"
            android:parentActivityName=".ui.setting.SettingsActivity" />
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.MealReminder"
            android:enabled="true"
            android:permission="TODO" />
        <receiver
            android:name=".notification.DrinkReminder"
            android:enabled="true"
            android:permission="TODO" />
    </application>

</manifest>